.thankyou{
    background: url(/src/assets/image/thank-you-bg.png);
    background-size: contain;
    height: 100vh;
    width: 100%;
    display: flex;
    align-self: center;
    justify-content: center;
    background-repeat: no-repeat;
}
.creative{
    height: 400px;
    width: 440px;
}
.thankyou h2 {
    color: #006D5A;
    font-family: futuramdbt;
    margin: 22px 0 10px;
}
.thankyou h3{
    font-size: 18px;
    font-family: 'futuramdbt';
}
.thankyou button{
    border: none;
    background: #006D5A;
    color: #fff;
    padding: 6px 35px 7px;
    margin-top: 10px;
    border-radius: 20px;
    font-size: 17px;
    font-family: 'futuramdbt';
}
.thankyou p{
    font-size: 30px;
    font-weight: 500;
}