
:root {
  font-weight: 400;
  background-color: #FFFFFF;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
}
.body{
  box-sizing: border-box;
  padding-top: 100PX;
  overflow-x: hidden ;
}

@font-face {
  font-family: futuramdbt;
  src: url(assets/fonts/FuturaMediumBT.ttf);
}
@font-face {
  font-family: lightfuturamdbt;
  src: url(assets/fonts/FutuMdIt.ttf);
}
@font-face {
  font-family: boldfuturamdbt;
  src: url(assets/fonts/FuturaBoldBT.ttf);
}
@font-face {
  font-family: PlayFireDisplay;
  src: url(assets/fonts/PlayfairDisplay-VariableFont_wght.ttf);
}
@font-face {
  font-family: latoRegular;
  src: url(assets/fonts/Lato-Regular.ttf);
}
@font-face {
  font-family: lato;
  src: url(assets/fonts/Lato-Light.ttf);
}
@font-face {
  font-family: boldfuturamdbt;
  src: url(assets/fonts/FutuBd.ttf);
}
@font-face {
  font-family: openSanceBold;
  src: url(assets/fonts/OpenSans-Medium.ttf);
}
@font-face {
  font-family: openSanceSemiBold;
  src: url(assets/fonts/OpenSans-SemiBold.ttf);
}
@font-face {
  font-family: inter;
  src: url(assets/fonts/Inter_24pt-Medium.ttf);
}
